:root {
    --color-dark-blue: #17222C;
    --color-dark-green: #001A0A;
    --color-primary-green: #005E23;
    --color-main-green: #B6D2C1;
    --color-secondary-green: #007029;
    --color-light-green: #d9ffe6;
    --color-gray: #D6D6D6;
    --color-white: #FFFF;
    --color-black: #0000;
    --color-nutrixtitle: #ECF9E6;
    --color-title-block: #8DBA8B;
    --color-block: #B7D2B6;
    --color-block-opacity: #B7D2B680;
    --color-background: #E5E5E5;
    --color-border: #005C53;
    --color-background-img: #F2FADA;
    --color-background-img-opacity: #F2FADAdd;
    --color-background-block: #FFF5EA;
}



.manager-container {
    width: 100%;
    height: 100%;
}



/* MAIN CONTENT  */

.main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-background);
    background-size: cover;
    height: 100vh;
}

.main-title {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    color: var(--color-dark-green);
}

.diet-container {
    display: flex;
    flex-direction: column;
    width: 75%;
    border-radius: 10px;
    padding-bottom: 1rem;
    background-color: var(--color-block-opacity)
}

.action-header {
    background-color: var(--color-border);
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 0.5rem;
}

    .action-header > h3 {
        text-align: center;
        font-size: 20px;
        color: #ECF9E6;
        font-weight: bold;
        margin-left: auto;
        margin-right: auto;
    }

.back-arrow {
    width: 30px;
    height: 30px;
    cursor: pointer;
    margin-left: 0.5rem;
}

.calories-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    margin: 1rem;
    gap: 1rem;
}

.meals-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    margin: 1rem;
    justify-content: space-around;
}

.calories-spent {
    background-color: white;
    padding: 2rem;
    box-shadow: black 0px 2px 2px;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 1rem;
}

.meals-boxes {
    display: flex;
    padding-bottom: 30px;
    width: 45%;
    flex-direction: row;
    align-items: center;
    
}

.meal {
    background-color: var(--color-title-block);
    padding: 1rem;
    border-radius: 10px;
    text-align: center;
}

    .meal > img {
        height: 80px;
    }

    .meal > h3 {
        color: var(--color-light-green);
    }

.food-box {
    display: flex;
    background-color: #ECF9E6;
    width: 100%;
    min-height: 110px;
    flex-direction: column;
    border-radius: 0 10px 10px 0;
    justify-content: center;
}

.meal-infos {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.meal-title {
    display: flex;
    text-align: center;
    color: var(--color-dark-green);
    font-size: 17px;
    border: 1px solid var(--color-dark-green);
    border-radius: 25px;
    background-color: var(--color-main-green);
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}

        .meal-title > h4 {
            margin-left: 5px;
        }

        .meal-title > h3 {
            color: var(--color-primary-green);
            font-size: 18px;
            padding-left: 5px;
            margin-right: 5px;
        }


.actions {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0.5rem;
    gap: 0.5rem;
}

    .actions > img {
        cursor: pointer;
        width: 40px;
        height: 40px;
    }

    .actions > img:hover {
        opacity: 0.6;
    }


.food-details {
    display: none;
    margin-top: -8px;
    cursor: pointer;
}

    .food-details:hover {
        display: flex;
    }

.meal-title:hover + .food-details {
    display: flex;
}

.macros {
    background-color: white;
    padding: 2rem;
    box-shadow: black 0px 2px 2px;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 1rem;
}

    .macros > span {
        display: block;
        text-align: center;
        margin: 2rem;
        font-size: 20px;
        font-weight: bold;
    }


.macros-values {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 10px;
    margin-bottom: 10px;
}

    .macros-values > div {
        display: flex;
    }

    .macros-values > div > h5 {
        font-size: 15px;
        font-weight: 600;
        padding-top: 5px;
        color: var(--color-dark-green);
    }

    .macros-values > div > img {
        padding-right: 5px;
        width: 30px;
    }


.imc-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.imc {
    background-color: white;
    padding: 2rem;
    width: 10vw;
    box-shadow: black 0px 2px 2px;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 1rem;
}

.create-btn {
    background-color: #888888;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 0.5rem 1.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: 4vw;
    font-size: 15px;
    border-radius: 8px;
    font-weight: 600;
    background-color: var(--color-primary-green);
    color: var(--color-white);
    cursor: pointer;
    text-shadow: 2px 2px 4px #000000;
}

    .create-btn:hover {
        background-color: var(--color-secondary-green);
        transition: 0.5s;
    }

    .create-btn:active {
        background-color: var(--color-border);
    }



@media screen and (max-width: 768px) {
    container {
        flex-direction: column;
    }

    .meals-boxes {
        flex-direction: column;
    }

    .meal-infos {
        border-radius: 10px 10px;
    }

    .macros-meal {
        flex-direction: column;
    }

    .actions {
        flex-direction: row;
    }
}
