:root {
    --color-dark-blue: #17222C;
    --color-dark-green: #001A0A;
    --color-primary-green: #005E23;
    --color-secondary-green: #007029;
    --color-light-green: #d9ffe6;
    --color-warning: #760400;
    --color-gray: #D6D6D6;
    --color-white: #FFFF;
    --color-black: #0000;
}

* {
    font-family: Rajdhani, sans-serif;
    margin: 0;
    padding: 0;
    border: 0;
}



body {
    max-width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
}


.first-container {
    align-items: center;
    height: 20vh;
    display: inline-block;
    font-weight: bold;
    padding-top: 40px;
    padding-bottom: 28px;
    background: url('../../assets/background-login.jpeg');
}

    .first-container > img {
        width: 75px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        position: relative;
    }

    .first-container > a {
        display: none;
    }

/* ajuste para outros celulares na imagem */

@media (min-height: 500px) {

    .first-container > img {
        padding-top: 4vh;
    }
}

@media (min-height: 620px) {

    .first-container > img {
        padding-top: 6vh;
    }
}

@media (min-height: 800px) {

    .first-container > img {
        padding-top: 8vh;
    }
}


.first-container > h1 {
    color: var(--color-white);
    display: inline;
    text-shadow: 2px 2px 4px #000000;
}

.first-container > h2 {
    color: var(--color-light-green);
    font-size: 20px;
    padding-bottom: 15px;
    text-shadow: 2px 2px 4px #000000;
}

.second-container > h1,
h3 {
    display: none;
}

.second-container {
    background-color: var(--color-gray);
    padding-top: 55px;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--color-dark-blue);
}

    .second-container > article {
        font-size: 20px;
        font-weight: 700;
        padding-bottom: 2px;
    }

.wrong-message {
    padding-bottom: 5px;
    padding-top: 5px;
    color: var(--color-warning)
}

.register-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-label {
    font-size: 16px;
    position: relative;
    font-weight: 700;
    right: 50%;
}

.form-big-label {
    font-size: 16px;
    position: relative;
    font-weight: 700;
    right: 18.5%;
}

.register-form > input {
    width: 120%;
    height: 25px;
    padding-left: 8px;
    border-radius: 7px;
    margin-bottom: 15px;
}

.register-form > article {
    margin-top: -13px;
    position: relative;
    font-weight: 600;
    font-size: 15px;
    left: 43%;
    padding-bottom: 15px;
    cursor: pointer;
}

.register-form > span {
    color: var(--color-dark-blue);
    font-weight: 500;
}

.register-form > article:hover {
    font-weight: 800;
}

.register-form > button {
    font-size: 18px;
    width: 123.5%;
    height: 30px;
    margin-top: 18px;
    margin-bottom: 5px;
    border-radius: 8px;
    font-weight: 600;
    background-color: var(--color-primary-green);
    color: var(--color-white);
    cursor: pointer;
    text-shadow: 2px 2px 4px #000000;
}

    .register-form > button:hover {
        background-color: var(--color-secondary-green);
        transition: 0.5s;
    }

.register-offer {
    display: flex;
    font-weight: 600;
    font-size: 15px;
    color: var(--color-dark-blue);
}

    .register-offer > a {
        padding-left: 4px;
        color: var(--color-dark-blue);
    }

        .register-offer > a:hover {
            color: var(--color-secondary-green);
            transition: 0.5s;
        }


/* Responsividade a partir de  Tablet */

@media (min-width: 600px) {

    .first-container {
        align-items: center;
        justify-content: center;
        height: 11vh;
        display: inline;
        font-weight: bold;
        background: url('../../assets/background-login.png')
    }



        .first-container > img {
            padding-top: 0vh;
            width: 80px;
        }

    /* para tablets mais compridos */

    @media (min-height: 1100px) {

        .first-container > img {
            padding-top: 3vh;
            width: 80px;
        }
    }



    .second-container > article {
        padding-top: 15px;
    }

    .first-container > h1 {
        align-self: center;
        justify-content: center;
        font-size: 45px;
    }


    .form-label {
        right: 111%;
        font-size: 20px;
    }

    .form-big-label {
        right: 80%;
        font-size: 20px;
    }

    .register-form > input {
        width: 250%;
        font-size: 20px;
        height: 30px;
    }

    .register-form > button {
        font-size: 20px;
        width: 253%;
        height: 35px;
    }

    .register-offer {
        font-size: 18px;
    }
}

/* Responsividade PC */

@media (min-width: 1025px) {

    body {
        background: url('../../assets/background-login.png');
        background-repeat: no-repeat;
        background-size: cover;
    }


    main {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        text-align: center;
        min-height: 100vh;
        height: 95%;
    }

    .first-container {
        height: 90%;
        padding-top: 0px;
        padding-bottom: 0px;
        width: 390px;
        display: inline;
        font-weight: bold;
        background: var(--color-dark-blue);
        border-bottom-left-radius: 15px;
        border-top-left-radius: 15px;
    }

        .first-container > h1,
        h2 {
            display: none;
        }


        .first-container > img {
            width: 125px;
            padding: 0;
            display: flex;
            padding-top: 20vh;
        }

        .first-container > p {
            display: flex;
            font-size: 20px;
            color: var(--color-gray);
            padding-top: 25px;
            margin-right: 20px;
            margin-left: 20px;
        }


    .second-container {
        background-color: var(--color-gray);
        padding-top: 0px;
        padding-bottom: 0px;
        height: 90%;
        width: 390px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: var(--color-dark-blue);
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
    }

        .second-container > h1 {
            padding-top: 8px;
            font-size: 40px;
            color: var(--color-dark-blue);
            display: inline;
            font-weight: 900;
        }


        .second-container > h3 {
            color: var(--color-dark-green);
            display: inline;
            font-size: 22px;
            padding-bottom: 1px;
        }

    .form-label {
        right: 61%;
        font-size: 18px;
        padding-bottom: 5px;
    }

    .form-big-label {
        font-size: 18px;
        right: 29%;
        padding-bottom: 5px;
    }

    .register-form > input {
        width: 150%;
        font-size: 17px;
    }

    .register-form > span {
        margin-top: -5px;
    }

    .register-form > button {
        width: 153%;
    }

    .register-offer {
        font-size: 16px;
        padding-bottom: 8px;
    }
}
