@model Nutrix_DIETAS_E_ACOMPANHAMENTO_CSHARP.Models.Usuario

@{
    ViewData["Title"] = "Edição Perfil";
}
<html lang="pt-br">
<head>
    <link rel="stylesheet" href="~/css/Perfil.css" asp-append-version="true" />
    <title>Nutrix Dietas e Acompanhamento </title>


</head>
<body>
    <main>

        <fieldset class="grupo1">

            <h2 id="titulo2">
                <img src="../../assets/edit-document-icon.png">
                <div class="title2">
                    Edição do perfil de usuário
                </div>
            </h2>

                <form asp-action="EditSave">
                    <div class="text-danger">Preencha os dados de usuário faltantes para gerar a dieta</div>
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="Id" />
                            <label asp-for="Nome"></label>
                            <input asp-for="Nome"/>
                            <span asp-validation-for="Nome" class="text-danger"></span>

                            <label asp-for="Email"></label>
                            <input asp-for="Email" />
                            <span asp-validation-for="Email" class="text-danger"></span>


                            <label asp-for="Senha"></label>
                            <input asp-for="Senha"placeholder="****"/>
                            <span asp-validation-for="Senha" class="text-danger"></span>


                            <label>Data de Nascimento</label>
                            <input asp-for="DataNasc" />
                            <span asp-validation-for="DataNasc" class="text-danger"></span>


                            <label asp-for="SexoBiologico" class="control-label"></label>
                            <input asp-for="SexoBiologico" class="form-control" />
                            <span asp-validation-for="SexoBiologico" class="text-danger"></span>

                            <div class="mark-options">
                                <input asp-for="IsDiabetico" />
                                <p>Diabético</p>
                            </div>

                            <div class="mark-options">
                                <input asp-for="IsIntoleranteLactose" />
                                 <p>Intolerante a lactose</p>
                            </div>


                            <div class="mark-options">
                                <input asp-for="IsAlergicoGluten" />
                                <p>Alergico a gluten</p>
                            </div>


                            <div class="mark-options">
                                <input asp-for="IsAlergicoFrutosMar" />
                                <p>Alergico a frutos do mar</p>
                            </div>

                        <button class="btn" type="submit">
                            <div>Salvar</div>
                        </button>
                </form>

        </fieldset>

        

    </main>
</body>

    

</html>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
