@model Nutrix_DIETAS_E_ACOMPANHAMENTO_CSHARP.Models.Usuario

@{
    ViewData["Title"] = "Edit";
}

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Senha" class="control-label"></label>
                <input asp-for="Senha" class="form-control" />
                <span asp-validation-for="Senha" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataNasc" class="control-label"></label>
                <input asp-for="DataNasc" class="form-control" />
                <span asp-validation-for="DataNasc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SexoBiologico" class="control-label"></label>
                <input asp-for="SexoBiologico" class="form-control" />
                <span asp-validation-for="SexoBiologico" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsDiabetico" /> @Html.DisplayNameFor(model => model.IsDiabetico)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsIntoleranteLactose" /> @Html.DisplayNameFor(model => model.IsIntoleranteLactose)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsAlergicoGluten" /> @Html.DisplayNameFor(model => model.IsAlergicoGluten)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsAlergicoFrutosMar" /> @Html.DisplayNameFor(model => model.IsAlergicoFrutosMar)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>



<!DOCTYPE html>
<html lang="pt-br">
<head>
   
    <link rel="stylesheet" href="../../styles/menu_lateral.css">
    <title>Editar Perfil</title>
</head>
<body>
 
    <div>
        <h1 id="titulo">Editar Perfil</h1>
    </div>

    <form>
        <fieldset class="grupo1">
            
            <h2 id="titulo2"><img src="../../assets/edit-document-icon.png"><div class="title2"> Atualize os dados base do seu perfil</div></h2>
            
            <div class="campos">
            <div class="campo">
                <label asp-for="Nome">Nome</label>
                <span asp-validation-for="Nome" class="text-danger"></span>
                <input asp-for="Nome"/>
            </div>
            <div class="campo">
                <label asp-for="Email">Email</label>
                <span asp-validation-for="Email" class="text-danger"></span>
                <input asp-for="Email" />
            </div>
            <div class="campo">

            </div>
            <div class="campo">
                <label>Peso</label>
                <input type="number" name="peso" id="peso" placeholder="kg" min="30" max="300">
            </div>
            <div class="campo">
                <label>Senha</label>
                <input type="password" name="senha" id="senha">
            </div>
            <div class="campo">
                <label>Confirmar Senha</label>
                <input type="password" name="confsenha" id="confsenha">
            </div>
            <div class="campo">
                <label>Data de nascimento</label>
                <input type="date" name="data" id="data">
            </div>
            <div class="campo">
                <label for="senioridade">Sexo biológico</label>
                <select id="sexobiologico">
                    <option selected disabled value="">Selecione</option>
                    <option>Masculino</option>
                    <option>Feminino</option>
                </select>
            </div>
            </div>
        </fieldset><br>

        <fieldset class="grupo2">
            
            <h2 id="titulo2"><img src="../../assets/info-icon.png"><div class="title2">Dados restritivos</div></h2>
            <div class="campo2">
               
                <label class="label2">Seleciona suas restrições alimentares</label><br>
                
               <div>
                <input type="checkbox" id="restri1" name="restri1" value="lactose">
                <label for="restri1">Lactose</label>
               </div>
               <div>
                <input type="checkbox" id="restri2" name="restri2" value="frutosdomar">
                <label for="restri2">Frutos do mar</label>
               </div>
               <div>
                <input type="checkbox" id="restri3" name="restri3" value="acucar">
                <label for="restri3">Açúcar (diabetes)</label>
               </div>
               <div>
                <input type="checkbox" id="restri4" name="restri4" value="gluten">
                <label for="restri4">Glúten</label>
               </div>
            </div>
        </fieldset><br>
        <button class="btn" onclick="" type="button">
            <div>Atualizar</div>
        </button>
    </form>
</body>
</html>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
