@model Nutrix_DIETAS_E_ACOMPANHAMENTO_CSHARP.Models.Usuario

@{
    ViewData["Title"] = "Create";
}



<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="~/css/Register.css" asp-append-version="true" />

    <title>Nutrix Dietas e Acompanhamento </title>
</head>
<body>
    <main>
        <div class="first-container">
            <h1>NutriX</h1>
            <h2>Dietas e acompanhamentos </h2>
            <img src="../../assets/logo.png" alt="Logo Nutrix">
            <p>Aproveite ao máximo o Nutrix Dietas e acompanhamento com sua nova conta!</p>
        </div>
        <div class="second-container">
            <h1>Nutrix</h1>
            <h3>Dietas e acompanhamentos </h3>
            <article>Seja bem-vindo(a)!</article>

            <h4 class="wrong-message"> @ViewBag.Message </h4>

            <form asp-action="Create" class="register-form">
                <label asp-for="Nome"  class="form-label">
                    Nome
                </label>
                <span asp-validation-for="Nome" class="text-danger"></span>
                <input asp-for="Nome" type="text" placeholder="Seu nome">

                <label asp-for="Email" class="form-label">
                    E-mail
                </label>
                <span asp-validation-for="Email" class=""></span>
                <input asp-for="Email" placeholder="Seu e-mail"/>


                <label asp-for="Senha" class="form-label" placeholder="*****">
                    Senha
                </label>
                <span asp-validation-for="Senha" class=""></span>
                <input asp-for="Senha" class="form-control" placeholder="*****" />


                <label asp-for="ConfirmacaoSenha" class="form-big-label">
                    Confirmação de senha
                </label>
                <span asp-validation-for="ConfirmacaoSenha" class=""></span>
                <input asp-for="ConfirmacaoSenha" placeholder="******" >


                <button type="submit" value="Create">
                    Registrar-se
                </button>
                <div class="register-offer">
                    <article>Já possui uma conta? </article>
                    <a asp-area="" asp-controller="Usuarios" asp-action="Login">
                        Entre
                    </a>
                </div>
            </form>
        </div>
    </main>
</body>
</html>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
