.manager-container {
    width: 100%;
    height: 100%;
 }
 
 /* Header Content */
 .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #d9d9d9;
    padding: 5px;
 }
 .header > h1 {
    display: inline;
 }
 .header > .menu-icon {
    width: 45px;  
    height: 35px;
 }
 .header > .user-content > img {
    width: 40px;
    height: 35px;
 }
 .user-content {
    display: flex;
    align-items: center;
    gap: 0.5rem;
 }
 
 /* MAIN CONTENT  */
 
 .main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('../../assets/background-login.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
 }
 .main-title {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
   color: white;
 }
 .diet-container {
   display: flex;
   flex-direction: column;
   max-width: 100vw;
   border-radius: 10px;
   padding-bottom: 1rem;
   background-color: #bdbdbd;
 }

 .action-header {
   background-color: #888888;
   border-radius: 10px;
   display: flex;
   align-items: center;
   padding: 0.5rem;
}

.action-header > h3 {
   text-align: center;
   font-size: 20px;
   font-weight: bold;
   margin-left: auto;
   margin-right: auto;
}
 
 .back-arrow {
    width: 30px;
    height: 30px;
    cursor: pointer;
    margin-left: 0.5rem;
 }

 .calories-container {
   display: flex;
   flex-wrap: wrap;
   flex-direction: row;
   align-items: flex-start;
   margin: 1rem;
   gap: 1rem;
 }

 .meals-container {
   display: flex;
   flex-wrap: wrap;
   flex-direction: row;
   align-items: flex-start;
   margin: 1rem;
   gap: 1rem;
 }

 .calories-spent {
   background-color: white;
   padding: 2rem;
   box-shadow: black 0px 2px 2px;
   border-radius: 10px;
   text-align: center;
   margin-bottom: 1rem;
 }

 .meal {
   background-color: #888888;
   padding: 2rem;
   border-radius: 10px;
   text-align: center;
 }

 .meals-boxes {
   display: flex;
   flex-direction: row;
   align-items: center;
 }

 .meal-infos {
   border-radius: 0 10px 10px 0;
   background-color: white;
   display: flex;
   flex-direction: column;
   padding: 3rem;
 }

 .meal-infos > h4 {
   text-align: center;
   font-size: 20px;
 }

 .actions {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   margin: 0.5rem;
   gap: 0.5rem;
 }

 .actions > img {
   cursor: pointer;
   width: 40px;
   height: 40px;
 }

 .macros {
   background-color: white;
   padding: 2rem;
   box-shadow: black 0px 2px 2px;
   border-radius: 10px;
   text-align: center;
   margin-bottom: 1rem;
 }

.macros > span {
   display: block;
   text-align: center;
   margin: 2rem;
   font-size: 20px;
   font-weight: bold;
}

.macros-meal {
   display: flex;
   flex-direction: row;
   gap: 2rem;
   margin: 2rem;
}

.imc-container {
   display: flex;
   flex-direction: row;
   align-items: flex-start;
}

.imc {
   background-color: white;
   padding: 2rem;
   width: 10vw;
   box-shadow: black 0px 2px 2px;
   border-radius: 10px;
   text-align: center;
   margin-bottom: 1rem;
 }

.create-btn {
   background-color: #888888;
   text-decoration: none;
   border-radius: 10px;
   display: flex;
   align-items: center;
   padding: 0.5rem 1.5rem; 
   margin-top: 1rem;
   margin-bottom: 1rem;
   margin-left: auto;
   margin-right: 4vw;
   font-size: 15px;
   font-weight: bold;
   color: white;
   cursor: pointer;
}

.create-btn:hover {
   background-color: #6d6d6d;
}

.create-btn:active {
   background-color: #4d4d4d;
}


 footer {
    background-image: linear-gradient(180deg, gray, black);
    color: whitesmoke;
    font-weight: 600;
    
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
 }
 .footer-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
 }
 .email-nutrix {
    display: flex;
    align-items: center;
    gap: 1rem;
 }
 .img-email {
    width: 30px;
 }
 


 @media screen and (max-width: 768px) {
   .meals-container {
      flex-direction: column;
   }

   .meals-boxes {
      flex-direction: column;
   }

   .meal-infos {
      border-radius: 10px 10px;
   }

   .macros-meal {
      flex-direction: column;
   }

   .actions {
      flex-direction: row;
   }
 }
   