:root {
    --color-dark-blue: #17222C;
    --color-dark-green: #001A0A;
    --color-primary-green: #005E23;
    --color-secondary-green: #007029;
    --color-light-green: #d9ffe6;
    --color-gray: #D6D6D6;
    --color-white: #FFFF;
    --color-black: #0000;
    --color-nutrixtitle: #ECF9E6;
    --color-title-block: #8DBA8B;
    --color-block: #B7D2B6;
    --color-block-opacity: #B7D2B680;
    --color-background: #E5E5E5;
    --color-border:#005C53;
    --color-background-img:#F2FADA;
    --color-background-img-opacity: #F2FADAdd;
    --color-background-block: #FFF5EA;
}
.main {
   width: 100%;
   height: 80vh;
}
.main-title {
   text-align: center;
   margin-top: 3rem;
}
.timeline-container {
   width: 50%;

   background-color:var(--color-background);
   padding: 1rem;
   border-radius: 4px;
   border: 1px solid var(--color-border);

   margin: 0 auto;

   display: flex;
   gap: 1rem;
   flex-wrap: wrap;
   align-items: center;
   justify-content:space-evenly;
}
.timeline-card {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   justify-content: start;
   padding: 0.5rem;
   border: 1px solid var(--color-border);
   border-radius: 4px;
}
.timeline-card > ul {
   list-style: none;
}
.timeline-card > ul > li {
   font-weight: 600;
}

/* RESPONSIVE */