.navbar {
   z-index: 1;

   position: absolute;
   
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   justify-content: start;
   gap: 1.5rem;
   
   min-width: 3rem;
   max-width: 8rem;

   height: 90vh;
   padding-right: 1rem;
   padding-top: 1.5rem;

   background-color: #CBDBCA;
   transition: all .2s;
}

.nav-item {
   display: flex;
   align-items: center;
   justify-content: flex-start;
   padding-left: 1rem;
   gap: 1rem;
}
.nav-item > img {
   width: 40px;
}

@media (max-width:1080px) {
   .navbar {
      width: 12vw;
      padding-right: 0.5rem;
   }
   .nav-item > img {
      width: 30px;
   }
}
@media (max-width:540px) {
   .nav-item > img{
      display: none;
      background-color: red;
   }
}