:root {
    --color-dark-blue: #17222C;
    --color-dark-green: #001A0A;
    --color-primary-green: #005E23;
    --color-secondary-green: #007029;
    --color-light-green: #d9ffe6;
    --color-gray: #D6D6D6;
    --color-white: #FFFF;
    --color-black: #0000;
    --color-tertiary-green:rgb(211, 228, 211);
    --color-quaternary-green:rgb(141, 186, 139);
 
 }
 
 * {
    font-family: Rajdhani, sans-serif;
    margin: 0;
    padding: 0;
    border: 0;
 }



 input, select, textarea, button{
    border-radius: 7px;
 }

 .campo{
   margin-bottom: 1em;
   align-items:center;
   display: flex;
   flex-direction: column;
  
 }



 .campo>input, .campo>select{
   width: 80%;
   height: 25px;
   
   
 }

.campo label{
   display:flex;
   position:relative;
   align-self: flex-start;
   padding-left: 35px;
   font-weight: 500;
   
   
}

.campo2{
   position:relative;
   align-self: flex-start;
   display: flex;
   flex-direction: column;
   padding-left: 20px;
   font-weight: 500;
   padding-bottom: 5px;
}


fieldset{
    background-color:var(--color-tertiary-green);
    border-radius: 22px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    width: 80%;
}

#titulo{
   font-size: 40px;
   font-weight: 650;
   text-align: center;
   padding-top: 20px;
   padding-bottom: 15px;
}

#titulo2>img{
   padding-left: 8px;
   height: 30px;
   position: relative;

}

#titulo2{
    font-size: 25px;
    font-weight: 550;
    text-align: center;
    background-color: var(--color-quaternary-green);
    width: 100%;
    margin-bottom: 5%;
    border-top-left-radius: 22px;
    border-top-right-radius: 22px;
    display: flex;
    
    padding-top: 10px;

   
}

.title2{
   font-size: 25px;
   font-weight: 550;
   text-align: center;
   width: 100%;
   margin-bottom: 5%;
   
}

form{
   align-items: center;
   display: flex;
   flex-direction: column;
}

 .btn {
    font-size: 18px;
    width: 80%;
    height: 30px;
    margin-bottom: 5px;
    border-radius: 8px;
    font-weight: 600;
    background-color: var(--color-primary-green);
    color: var(--color-white);
    cursor: pointer;
    text-shadow: 2px 2px 4px #000000;
    margin-bottom: 50px;

}

.btn:hover {
    background-color: var(--color-secondary-green);
    transition: 0.5s;
}

/* Responsividade a partir de  Tablet */

@media (min-width: 600px) {
   .campo{
      margin-bottom: 1em;
      align-items:center;
      display: flex;
      flex-direction: column;
     
    }
   
   
   
    .campo>input, .campo>select{
      width: 78%;
      height: 25px;
      
      
    }
   
   .campo label{
      display:flex;
      position:relative;
      align-self: flex-start;
      padding-left: 50px;
      font-weight: 500;
      
      
   }

   fieldset{
      width: 55%;
      padding-bottom: 2%;
  }

  .btn {
   width: 55%;
}

}

/* Responsividade PC */

@media (min-width: 1025px) {
   .campo{
    width: 30%;
      
      
     
    }
   
   .campos{
   display: flex;
   justify-content: space-between;
   align-items: center;
   flex-wrap: wrap;
   margin-left: 15px;
   margin-right: 15px;

   }
   
    .campo>input, .campo>select{
      width: 250px;
      height: 25px;
      margin: 15px;
      margin-top: 5px;
      padding-left: 20px;
      
      
      
    }
   
   .campo label{
      display:flex;
      position:relative;
      align-self:flex-start;
      padding-left: 10px;
      font-weight: 500;
      
      
   }

   fieldset{
      
      border-radius: 22px;
      
      align-items: center;
      
      width: 70%;
  }
  form{
   align-items: center;
   display: flex;
   flex-direction: column;
}

  .btn {
   width: 15%;
}

  .title2{
   margin-top: 10px;
   margin-bottom: 10px;
   
}
   

  

}

