@{
    ViewData["Title"] = "Relatório de Saúde";
}

@model List<DadoPessoal>

<html lang="en">

<head>
    <link rel="stylesheet" href="~/css/Relatorios.css" asp-append-version="true" />
    <title>Nutrix Dietas e Acompanhamento </title>
</head>

<body>
    <div class="manager-container">
        <main class="main">
            <div class="main-title">
                <h2>Relatórios</h2>
            </div>

            <div class="health-container" id="diet-container">
                <section class="action-header">
                    <a asp-controller="Relatorios" asp-action="Index">
                        <img class="back-arrow" src="../../assets/arrow-left.png" alt="arrow-left" />
                    </a>
                    <h3>Resumo de saúde</h3>
                </section>

                <span class="user-data">@User.Identity.Name - @DateTime.Now</span>

                <section class="relatorios-saude">

                @foreach (var item in Model)
                 {

                        <div class="relatorio-saude">
                            <h2>
                                @{
                                    string situacao = "";
                                    var imc = item.Peso/(Math.Pow((Convert.ToDouble(item.Altura) / 100), 2));

                                    if(imc < 18.5) 
                                    {
                                        situacao = "Magreza";
                                    } 
                                    else if(imc >=18.5 && imc < 24.9)
                                    {
                                        situacao = "Normal";
                                    }
                                    else if (imc >= 25 && imc < 29.9)
                                    {
                                        situacao = "Sobrepeso";
                                    }
                                    else if (imc >= 30 && imc < 39.9)
                                    {
                                        situacao = "Obesidade Grau 1";
                                    }
                                    else if (imc >= 40)
                                    {
                                        situacao = "Obesidade Grau 3";
                                    }
                                }


                                IMC - @situacao
                        </h2>
                        <img src="~/assets/attention.png" alt="atencao"/>
                        <span>@DateTime.Parse(@item.DataFicha).ToShortDateString()</span>
                    </div>

                 }
            </section>
        </main>
    </div>
</body>

</html>