footer {
   width: 100%;
   overflow: hidden;

   padding-top: 1.5rem;
   background-image: linear-gradient(180deg, gray, black);
   color: whitesmoke;
   font-weight: 600;
   
   flex: 1;
   display: flex;
   align-items: center;
   justify-content: space-between;
}
.footer-img {
   margin: 3rem;
}

.footer-text {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 1.5rem;
}
.email-nutrix {
   display: flex;
   align-items: center;
   gap: 1rem;
}
.img-email {
   width: 30px;
}


@media (max-width:1024px) {
   .footer {
      padding-top: 1.2rem;
   }
   .footer-img {
      width: 200px;
   }
}
@media (max-width:736px) {
   .footer {
      padding-top: 0.8rem;
   }
   .footer-img {
      width: 150px;
   }
}
@media (max-width:560px) {
   footer {
      flex-direction: column;
      padding-bottom: 1rem;
   }
}