.manager-container {
   width: 100%;
   height: 100%;
}

/* Header Content */
.header {
   display: flex;
   align-items: center;
   justify-content: space-between;
   background-color: #d9d9d9;
   padding: 5px;
}
.header > h1 {
   display: inline;
}
.header > .menu-icon {
   width: 45px;  
   height: 35px;
}
.header > .user-content > img {
   width: 40px;
   height: 35px;
}
.user-content {
   display: flex;
   align-items: center;
   gap: 0.5rem;
}

/* MAIN CONTENT  */

.main {
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   background-color: aliceblue;

   height: 100%;
}
.main-title {
   margin-top: 1.5rem;
   margin-bottom: 1.5rem;

}
.diet-container {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 2rem;
   padding: 1rem;
   background-color: #bdbdbd;
   border-radius: 10px;
   margin-bottom: 3rem;
}

/* Dieta */
.diet {
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 0.5rem;
   background-color:transparent;
   
   border-radius:10px;
}
.diet > img {
   width: 180px;
   height: auto;
   padding:0.5rem;
   border-radius: 10px;
   background-color:#969696;
}
.action-group {
   display: flex;
   align-items: center;
   justify-content: space-around;
   gap: 1rem;
   padding: 1rem;
   background-color:var(--color-primary-green);
   border-radius: 10px;
}
.action-group > button {
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: transparent;
}
.action-group > button > img {
   color:var(--color-white);
   width: 40px;
   cursor: pointer;
   display: inline;
}



@media screen and (max-width:768px){
   .diet-container {
      grid-template-columns: repeat(2, 1fr);
   }
   .diet > img {
      width: 120px;
   }
}
@media screen and (max-width: 530px) {
   .diet-container {
      grid-template-columns: repeat(1,1fr);
      background-color: transparent;
   }
   .diet {
      background-color: #bdbdbd;
      padding: 1rem;
   }
}