/* .navbar {
   position: absolute;
   width: 12vw;
   height: 100vh;
   z-index: 2;
   background-color: #D4DFD4;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   justify-content: flex-start;
   gap: 2rem;
   padding-top: 2rem;
   padding-left: 0.5rem;
   margin-left: -100vw;
   animation-duration: 0.5s;
}
.menu-icon {
   width: 50px;
   cursor: pointer;
}
.navbar-item {
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 5px;
}
.nav-link {
   display: initial;
}
.navbar-item>img {
   width: 40px;
}
.navbar-item>a {
   text-decoration: none;
   color: #000;
   font-weight: 600;
} */

/* Animations */
/* @keyframes showSidebar {
   from {
      margin-left: -100vw;
   }
   top {
      margin-left: -0;
   }
} */

.navbar {
   z-index: 2;

   position: absolute;
   
   display: flex;
   
   width: 10vw;

   background-color: red;
}

.icons-img {
   display: flex;
   flex-direction: column;
   gap: 2rem;
   padding-top: 1rem;
   padding-left: 0.5rem;
}
.icons-img > img {
   width: 40px;
}